.dropdown__label {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    white-space: nowrap;
    cursor: pointer;
}

.dropdown__label::after {
    content: '';
    background-size: 1rem;
    background: url("Dropdown.svg") no-repeat center;
    width: 1.15rem;
    aspect-ratio: 1.5;
    display: inline-block;
    margin-left: 0.5rem;
    pointer-events: none;
}

.dropdown__label:has(.dropdown__checkbox:checked)::after {
    transform: rotate(180deg);
}

.dropdown__label:has(.dropdown__checkbox:checked) {
    color: var(--primary);
}

.dropdown__options {
    font-size: initial;
    font-weight: initial;
    line-height: initial;
    display: none;
    background: var(--background);
    border-top: 1px solid var(--primary);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    list-style: none;
    padding: 1rem;
    gap: 1rem;
    pointer-events: none;
}

.dropdown__options li {
    pointer-events: auto;
    color: var(--text);
}

.dropdown__options li label {
    width: 100%;
}

.dropdown__checkbox {
    display: none;
}

.dropdown__checkbox:checked + .dropdown__options {
    display: flex;
    flex-direction: column;
}