.searchbar {
    height: 43px;
    width: 100%;
    border-radius: 5px;
    border: 0.5px var(--grey) solid;
    color: var(--text);
    background: transparent;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0;
}

.searchbar::placeholder {
    color: var(--grey);
    opacity: 1;
}