.searchbar {
    width: 100%;
    border-radius: 5px;
    border: 1px var(--grey) solid;
    color: var(--text);
    background: transparent;
    padding: 0.75rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0;
}

.searchbar::placeholder {
    color: var(--grey);
    opacity: 1;
}

@media (max-width: 768px) {
    .searchbar {
        font-size: 12px;
        line-height: 14px;
    }
}