#header {
    box-shadow: 0 4px 8px 0 rgba(57, 113, 164, 0.25);
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.header__content nav {
    display: flex;
    align-items: center;
    gap: 1rem
}

html[data-theme="dark"] #header {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

#header .logo {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
}
