.filters__container {
    background: var(--hover);
}

.filters {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.filters__actions {
    margin-left: auto;
}

.filters__label {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}

.filters__list {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1rem 1.5rem;
    flex-wrap: wrap;
    list-style: none;
}

@media (max-width: 768px) {
    .filters {
        flex-direction: column;
        align-items: start;
    }
    .filters__list {
        gap: 1rem;
        padding: 0;
    }
    .filters__actions {
        margin: 0;
        width: 100%;
    }
    .filters__actions button {
        width: 100%;
    }
    .filters__label {
        font-size: 14px;
        line-height: 16px;
    }
}