.table__container {
    margin-top: 20px;
    overflow-x: scroll;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table tr:not(:last-child) {
    border-bottom: 1px solid var(--light-grey);
    border-top: 1px solid var(--light-grey);
}

.table tr:hover {
    background: var(--hover);
}

.table th, .table td {
    padding: 12px 28px;

}

.table thead {
    color: var(--grey);
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}